nav {
    background-color: #646d75;
}

#text-carousel .carousel-item p {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

button.navbar-toggler {
    background-color: transparent;
    span {
        font-size: 2rem;
    }
}

.navbar form.form-control {
    margin: 0;
}

.navbar li.nav-item {
    padding: 0 15px;
}

/* Estilos del menú desplegable */
.dropdown-menu {
    background-color: white;

    a.dropdown-item {
        color: black;
        text-decoration: none;
    }
}